.colors {
    margin-top: 30px;
}

.colors > h2,
.colors > p {
    text-align: center;
}

.colors > h2 {
    font-size: 2em;
    margin: 0;
}

.colors > p {
    font-size: 1.3em;
    margin: 0.5em 0 1em;
}

.colors ul {
    list-style-type: none;
    padding: 0;
}

.colors ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    color: white;
    margin: 2px 0;
    border-radius: 8px;
}

.colors.v2 ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
    grid-auto-rows: minmax(100px, auto);
    list-style-type: none;
    padding: 0;
}

.colors.v2 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0;
    aspect-ratio: 1;
    height: auto;
}
