.list {
    list-style: decimal;
}

.list h3 {
    margin: 0;
}

.list li {
    margin-bottom: 16px;
}

.list li:last-of-type {
    margin-bottom: 0;
}

.list p {
    margin-top: 6px;
    margin-bottom: 0;
}
